* {
  margin: 0;
  padding: 0;
  box-sizing: border-box0; }

header {
  background-color: blue;
  justify-content: space-between; }

.colornav {
  background-color: blue !important; }

.fondoinicio {
  background-image: url(../assets/img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .fondoinicio h1 {
    font-size: 96px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: right;
    padding: 10%;
    padding-bottom: 0%; }
  .fondoinicio h2 {
    font-size: 32px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 25%; }

.tema {
  background-color: #F15A25;
  width: auto;
  padding: 15%; }
  .tema h2 {
    font-size: 72px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 5%; }
  .tema p {
    font-size: 34px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: auto; }

.info {
  background-color: #F15A25;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-area: "img1 img2 img3" "boton1 boton2 boton3"; }
  .info button {
    border-color: blue;
    border-radius: 50px;
    background-color: blue;
    color: azure;
    margin: 3%;
    font-size: 20px; }

.fondofin {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  background-image: url(../assets/img/kids.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-areas: "text" "imglogo";
  padding: 20%; }
  .fondofin h3, .fondofin .todocontacto .infocontacto p, .todocontacto .infocontacto .fondofin p {
    font-size: 72px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 5%; }

.fondoclases {
  background-image: url(../assets/img/fondoclases.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%; }
  .fondoclases h1 {
    font-size: 600%;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: end;
    padding: 3%; }

.grupos {
  padding: 5%;
  margin: 5%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: auto;
  justify-items: center; }
  .grupos p {
    font-size: 200%;
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 5%; }

.queaprendemos {
  padding: 5%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  justify-items: center; }
  .queaprendemos .textoqa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    padding-right: 10%; }
  .queaprendemos h3, .queaprendemos .todocontacto .infocontacto p, .todocontacto .infocontacto .queaprendemos p {
    color: #0000FF;
    font-family: "Poppins", sans-serif; }

.inscripcion {
  background-color: #F15A25;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-area: "nena form"; }
  .inscripcion form {
    width: 80%;
    height: auto;
    padding: 20%;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    align-self: center;
    font-family: "Poppins", sans-serif; }
    .inscripcion form .cajaformulario {
      width: 100%;
      height: auto;
      padding: 5%;
      border-color: #0000FF;
      border-top: 0;
      border-left: 0;
      border-right: 0; }
    .inscripcion form h3, .inscripcion form .todocontacto .infocontacto p, .todocontacto .infocontacto .inscripcion form p {
      font-size: 400%;
      color: #0000FF;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .inscripcion form .enviar {
      background-color: blue;
      font-family: "Poppins", sans-serif;
      color: white;
      padding: 10px;
      margin: 10px;
      border-color: #0000FF;
      font-size: 20px; }

.fondopropuesta {
  background-image: url(../assets/img/propuesta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px; }
  .fondopropuesta h1 {
    font-size: 96px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: right;
    padding: 10%; }

.misionvision {
  background-color: blue;
  width: 100%;
  height: auto;
  padding: 10%; }
  .misionvision .mision {
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    margin: 3%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    justify-items: auto;
    grid-template-areas: "textomision imgmision"; }
    .misionvision .mision h3, .misionvision .mision .todocontacto .infocontacto p, .todocontacto .infocontacto .misionvision .mision p {
      font-size: xx-large;
      color: #0000FF;
      font-family: "Poppins", sans-serif;
      text-align: auto;
      padding: 2%; }
    .misionvision .mision p {
      font-size: x-large;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: auto;
      padding: 2%; }
  .misionvision .vision {
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    margin: 3%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    justify-items: auto;
    grid-template-areas: "textovision imgvision"; }
    .misionvision .vision h3, .misionvision .vision .todocontacto .infocontacto p, .todocontacto .infocontacto .misionvision .vision p {
      font-size: xx-large;
      color: #0000FF;
      font-family: "Poppins", sans-serif;
      text-align: auto;
      padding: 2%; }
    .misionvision .vision p {
      font-size: x-large;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: auto;
      padding: 2%; }

.video {
  background-color: #F15A25;
  padding: 5%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center; }

.fondoespacio {
  background-image: url(../assets/img/salonarte.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%; }
  .fondoespacio h1 {
    font-size: 600%;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: end;
    padding: 3%; }

.mapa {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  justify-items: auto;
  padding: 10%; }
  .mapa h2 {
    font-size: 64px;
    color: #0000FF;
    font-family: "Just Another Hand", cursive;
    text-align: left;
    padding: 5%; }
  .mapa h3, .mapa .todocontacto .infocontacto p, .todocontacto .infocontacto .mapa p {
    font-size: 32px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 5%; }

.imagenes {
  background-color: #F15A25;
  padding: 10%; }
  .imagenes h3, .imagenes .todocontacto .infocontacto p, .todocontacto .infocontacto .imagenes p {
    font-size: 64px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: auto; }
  .imagenes .boximg {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    justify-items: center; }
  .imagenes .im3, .imagenes .im4 {
    padding-top: 2%; }

.contacto {
  background-color: #F15A25;
  padding: 100px; }
  .contacto h1 {
    font-size: 600%;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: end;
    padding: 3%; }

.todocontacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: auto;
  grid-template-areas: "infocontaco imagencontacto";
  align-items: center;
  padding: 5%;
  padding-bottom: 0%; }
  .todocontacto .infocontacto h3, .todocontacto .infocontacto p {
    font-family: "Poppins", sans-serif;
    color: blue; }
  .todocontacto .infocontacto p {
    color: black; }

.frasefinalcontacto h3, .frasefinalcontacto .todocontacto .infocontacto p, .todocontacto .infocontacto .frasefinalcontacto p {
  font-size: 64px;
  color: #0000FF;
  font-family: "Just Another Hand", cursive;
  text-align: center;
  padding: 5%;
  padding-top: 2%; }

.footer {
  background-color: blue;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: auto;
  justify-items: auto;
  padding: 2%; }
  .footer li {
    font-size: 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%;
    justify-content: end;
    list-style: none; }
  .footer .imgenfooter {
    width: 100%; }

@media (max-width: 1024px) {
  /*inicio*/
  .fondoincio h1 {
    font-size: 32px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 10%; }
  .tema {
    background-color: #F15A25;
    width: auto;
    padding: 15%; }
    .tema h2 {
      font-size: 48px;
      color: white;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .tema p {
      font-size: 24px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: auto; }
  .info {
    padding: 10%; }
    .info img {
      width: 70%; }
  .footer li {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%; }
  /*clases*/
  .fondoclases h1 {
    font-size: 300%; }
  .grupos {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto;
    justify-items: center; }
    .grupos img {
      width: 80%; }
    .grupos p {
      font-size: 80%;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 5%; }
  .queaprendemos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    justify-items: center; }
    .queaprendemos img {
      width: 50%; }
    .queaprendemos h3, .queaprendemos .todocontacto .infocontacto p, .todocontacto .infocontacto .queaprendemos p {
      color: #0000FF;
      font-family: "Poppins", sans-serif;
      font-size: 80%; }
    .queaprendemos p {
      font-size: 70%; }
  .inscripcion {
    padding: 5%; }
    .inscripcion img .nena {
      width: 60%; }
    .inscripcion form {
      width: 80%; }
      .inscripcion form .espacioform h3, .inscripcion form .espacioform .todocontacto .infocontacto p, .todocontacto .infocontacto .inscripcion form .espacioform p {
        width: 100%; }
  .footer li {
    font-size: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%; } }

/*propuesta*/
@media (max-width: 768px) {
  .fondoincio h1 {
    font-size: 32px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 10%; }
  .tema {
    background-color: #F15A25;
    width: auto;
    padding: 15%; }
    .tema h2 {
      font-size: 48px;
      color: white;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .tema p {
      font-size: 24px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: auto; }
  .info {
    padding: 10%; }
    .info img {
      width: 70%; } }

.footer li {
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: right;
  padding: 2%; }

@media (max-width: 425px) {
  .fondoincio h1 {
    font-size: 32px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 10%; }
  .tema {
    background-color: #F15A25;
    width: auto;
    padding: 15%; }
    .tema h2 {
      font-size: 36px;
      color: white;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .tema p {
      font-size: 16px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: auto; }
  .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "img1" "boton1" "img2" "boton2" "img3" "boton3"; }
    .info img {
      width: 70%; }
  .footer li {
    font-size: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%; }
  /*clases*/
  .grupos {
    padding: 5%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "grupo1" "grupi1" "grupo2" "grupi2" "grupo3" "grupi3"; }
    .grupos p {
      font-size: 100%;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 5%; }
  .queaprendemos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center; }
    .queaprendemos img {
      width: 100%; }
  form h3, form .todocontacto .infocontacto p, .todocontacto .infocontacto form p {
    font-size: 10px;
    color: #0000FF;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 5%; }
    form h3 .text, form .todocontacto .infocontacto p .text, .todocontacto .infocontacto form p .text {
      font-size: 10px; }
  form .enviar {
    font-size: 5px; } }

@media (max-width: 375px) {
  .fondoincio h1 {
    font-size: 32px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 10%; }
  .tema {
    background-color: #F15A25;
    width: auto;
    padding: 15%; }
    .tema h2 {
      font-size: 36px;
      color: white;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .tema p {
      font-size: 16px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: auto; }
  .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "img1" "boton1" "img2" "boton2" "img3" "boton3"; }
    .info img {
      width: 70%; }
  .footer li {
    font-size: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%; }
  /*clases*/
  .grupos {
    padding: 5%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center; }
    .grupos p {
      font-size: 100%;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 5%; }
  .queaprendemos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center; } }

@media (max-width: 320px) {
  .fondoincio h1 {
    font-size: 32px;
    color: white;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    padding: 10%; }
  .tema {
    background-color: #F15A25;
    width: auto;
    padding: 15%; }
    .tema h2 {
      font-size: 36px;
      color: white;
      font-family: "Just Another Hand", cursive;
      text-align: center;
      padding: 5%; }
    .tema p {
      font-size: 16px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: auto; }
  .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "img1" "boton1" "img2" "boton2" "img3" "boton3"; }
    .info img {
      width: 70%; }
  .footer li {
    font-size: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: right;
    padding: 2%; }
  /*clases*/
  .grupos {
    padding: 5%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center; }
    .grupos p {
      font-size: 100%;
      color: black;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 5%; } }
