.footer {
    background-color: $background-principal;
    @include grid(3fr 3fr,auto,auto);
    padding: 2%;
    li{
@include text(24px,white,$typografia-subtitulos,right,2%);
justify-content:end;
list-style: none;
    }
    .imgenfooter{
        width:100%;
    }
}
