.fondoespacio{
    background-image: url(../assets/img/salonarte.jpg);
    @include background(center,no-repeat,cover);
    @include propiedades(100%,auto,5%);
    h1{
    @include text(600%,white,$typografia-titulos,end,3%);
    }
}
.mapa{
    @include grid(2fr 2fr,auto,auto);
    padding: 10%;
    h2{
        @include text(64px,#0000FF,$typografia-titulos,left,5%);
    }
    h3{
        @include text(32px,#000000,$typografia-subtitulos,left,5%);
    }
}
.imagenes{
    background-color:$background-secundario;
    padding: 10%;
    h3{
        @include text(64px,white,$typografia-titulos,center,auto);
    }
    .boximg{
        @include grid(2fr 2fr, auto,center);
    }
    .im3{
        padding-top: 2%;
    }
    .im4{
        @extend .im3;
    }
}